<%- include('../sidebar.html') %>

<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ul class='breadcrumb'>
        <li><a href='/'>主页</a><span class='divider'>/</span></li>
        <li class='active'>关于</li>
      </ul>
    </div>
    <div class='inner topic'>
      <div class="topic_content">
        <%- helper.markdown(`
### 关于
广州旅神文化传媒有限公司目前运营着国学门户网站，是专业的易经国学网站，主要研究和宣传中国易经文化，其目的在于弘扬国学文化，崇尚易经智慧，给予人生启示，为广大易学爱好者提供学述交流平台。主要应用到6爻占卜、四柱预测、风水布局、相学、择日解梦等生活领域。

易经是中华民族文化的源头，被誉为“群经之首，大道之源”，是经典中的经典，哲学中的哲学，学问中的学问。民族文化是一个国家和民族的灵魂所在，中国之所以是中国，中华民族之所以是中华民族，就是因为她有自己独有的民族文化，作为中华民族炎黄子孙的后代，我们的民族文化之根，民族文化之源不能丢。《易经》就是民族文化的载体，它经过三古三圣，是中华民族集体智慧的结晶，它经受住风雨的考验，是建设具有中国特色的社会主义新型精神文明建设的强大助力。

旅神文化以弘扬优秀易经国学文化为核心基础，坚持守道创新，创新形式载体，不断依托新时代背景下互联网5G科技服务力量。旅神文化着眼于整体易经国学行业的服务乱象，希望能够优化标准化的服务体系，力求打造透明、公开的价格水平及服务质量、贴近老百姓及广大企业家的服务流程，同时配套强有力的监督平台风控措施，将中华优秀传统易经国学文化结合中国5G通讯技术、助力社会主义精神文明建设多样化，形成具有旅神文化自身特色的管理模式。

### 联系我们

微信：seiyuflowerart
联系：+8617876094969
地址：广州市天河区天河北路179号第21层自编032房-20

`) %>
      </div>
    </div>
  </div>
</div>
